/* .text {

  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 2;
  color: white;
  margin-left: 100px;
  margin-right:100px;

} */

.view {
  height: auto;
  /* background: rgb(58, 57, 57); */
  color: #171717;
}

.textHeading {
  font-style: normal;
  font-weight: bold;
  font-size: 15;
  color: white;

  text-align-last: center;
}
.homepage-content {
  font-size: 20px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.699);
  margin-left: 100px;
  margin-right: 100px;
  
  
}


/* .line {
  position: absolute;
  width: 769px;
  height: 0px;
  left: 808px;
  top: 221px;
  border: 6px solid #ffffff;
  transform: rotate(90deg);
} */
.circle {
  width: 200px;
  height: 200px;
}

/* .logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 35px;
  color: white;
} */

.text {
  font-size: 15px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  line-height: 2;
  color: rgba(255, 255, 255, 0.699);
  margin-left: 100px;
  margin-right: 100px;
}
