.button {
    position: absolute;
    margin-left: 4vh;
    padding: 5px 10px;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #0b93e271;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px #999;
}

.a {
    overflow: hidden;
    line-height: 13.5pt;
    max-height: 5rem;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
}

#readmore {
    transition: all 0.3s ease-in-out;
    font-size: 16px;
}

#readmore:hover {
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    padding-right: 5px;
}
/* .bar {
    margin: 0 auto;
    width: 575px;
    border-radius: 30px;
    border: 1px solid rgba(0, 0, 0, 0.308);
}
.searchbar {
    height: 45px;
    border: none;
    width: 400px;
    font-size: 16px;
    outline: none;
    padding-left: 10px;
}

.searchbar {
    margin-top: 25px;
    margin-left: 283px;
    width: 100%;
}
.bar {
    border-radius: 0;

    padding: 10px;
    border: 0px;
    outline: none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
} */

#search {
    position: absolute;
    top: 25%;
    right: 5%;
    color: black;
    font-size: 18px;
    padding-left: 50px;
}
#searchbar {
    position: relative;
    width: 480px;
    margin: auto;
    border-radius: 10px;
    border: 0;
}
#search:hover {
    cursor: pointer;
}
